@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poller+One&display=swap');

:root {
    --dark: #060447;
    --yellow: #FFF38A;
    --yellow36: #827B68;
}

body {
    background-color: var(--dark);
    color: var(--yellow);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

main, aside {
    max-width: 80%;
}

main {
    margin: 8.75em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section, .left {
    min-width: 31.300rem;
    max-width: 31.300rem;
}

.left {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}

section {
    display: flex;
    flex-direction: column;
}

section img {
    width: 80px;
    height: 80px;
}

section h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

section p {
    max-width: 95%;
    line-height: 1.5rem;
}

picture, picture img {
    display: flex;
    width: 24.51rem;
    /*height: 49.07rem;*/
    /*width: 32.509em;*/
    /*height: 50.411em;*/
}

picture {
    overflow: hidden;
    flex-direction: row;
}

aside{
    margin: auto;
}
aside > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
aside > div:first-child {
    width: 4rem;
}
aside .right:before {
    height: .5rem;
    background-color: var(--yellow36);
    position: absolute;top: 2px;
}
aside .right {
    width: 40rem;
    position: relative;
}
aside img{
    width: 1.5rem;
    color: var(--yellow);
}